\---
layout: default
title: Blog | Cary Lee
\---
#fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=147084138730714";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
%ul.breadcrumb
  %li
    %a{:href => "/"} Home
    %span.divider /
  %li.active
    %a{:href => "{{ page.url }}"} Blog
.page-header
  %h1
    Blog
    %small Just a few thoughts
.row
  .span12.offset2
    {% for post in site.posts %}
    .post
      .page-header
        %h2
          %a{:href => "{{ post.url }}"} {{ post.title }}
      .date {{ post.date | date_to_string }}
      .post-body.copy
        {{ post.content }}
      .actions
        %a.btn.secondary{:href=>"{{ post.url }}#disqus_thread"} Comments
        %a.twitter-follow-button{:href=>"https://twitter.com/caryme", :data=>{'show-count'=>'false', :width=>"120"}} Follow @caryme
        %a.twitter-share-button{:data=>{:count=>"horizontal", :text=>"{{ post.title }}", :url=>"{{ post.url }}", :via=>"caryme"}, :href=>"https://twitter.com/share"} Tweet
        %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}
        .fb-like{:data=>{:href=>"{{ post.url}}", :send=>"false", :layout=>"button_count",:width=>"90"}}
    {% endfor %}
  .span5
:javascript
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'caryme'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
