\---
title: Projects | Cary Lee
layout: default
\---
%ul.breadcrumb
  %li
    %a{:href => "/"} Home
    %span.divider /
  %li.active
    %a{:href => "{{ page.url }}"} Projects
.page-header
  %h1
    Projects
    %small What I've been working on lately
.row.project
  .span6.media-grid
    %a{:href=>'https://github.com/carylee/MetroVote'}
      %img.thumbnail{:src=>'/img/metrovote.jpg'}
  .span10
    %h2 MetroVote
    %span.tagline a local election tracker
    .copy
      %p
        MetroVote began as a project for my journalism and technology class at Northwestern.
        With minimal setup, it aggregates social media feeds of and news stories about candidates in local elections.
        I'll be working on an offshoot of MetroVote for the <a href="http://knightlab.northwestern.edu/">Knight News Innovation Lab</a>
        at Northwestern. MetroVote is a Ruby on Rails application&#8212;you can check it out on <a href="https://github.com/carylee/MetroVote">my GitHub</a>.
.row.project
  .span6.media-grid
    %a{:href=>'http://goldenwriter.caryme.com'}
      %img.thumbnail{:src=>'/img/goldenwriter.jpg'}
  .span10
    %h2 Golden Writer
    %span.tagline the posthumous blog of Kathryn N. Bush
    .copy
      %p
        My grandmother, <a href="http://goldenwriter.caryme.com">Kathryn N.
        Bush</a> was a writer. Most of her writings took the form of short,
        inspirational pieces which she photocopied and mailed to her friends.
        She called herself <a href="http://goldenwriter.caryme.com">Golden
        Writer</a>. After she passed away in the summer of 2011, I realized
        that she was a blogger before her time. Since then, I've scanned over
        two hundred of her works and have been publishing them weekly on a blog
        that I run. You can follow her on twitter at <a href="https://twitter.com/gldnwriter">@gldnwriter</a>.
.row.project
  .span6.media-grid
    %a{:href=>"http://www.flickr.com/photos/gagilas/3828139856/in/photostream/", :title=>"Image credit: gagilas on Flickr"}
      %img.thumbnail{:src=>"/img/receptionist.jpg"}
  .span10
    %h2 Doorman
    %span.tagline upgrade your intercom
    .copy
      %p
        Doorman acts as a middleman between you and your apartment's phone-based intercom.
        Using doorman, you can provide your preferred guests with PIN numbers to enter at the intercom. Doorman will greet
        them by name and let them in without calling you. When an unknown guest arrives, Doorman will
        transfer the call to you and your roommates, so you may grant them access at your descretion. My roommates and I have been using Doorman for two years now and I'm working on a version to release to the public.

